html,
body {
    overflow-x: hidden;
    background-color: #f5f5dc
}

p {
    color: #303f9f;
}


.principal {
    text-align: center;
    background-color: #f5f5dc
}

.titulo {
    color: #303f9f;
    background-color: #f5f5dc
}

.texto {
    color: #616161;
    background-color: #f5f5dc
}

.lista-sem-bolinhas {
    list-style-type: none;
    /* Remove as bolinhas */
    padding-left: 0;
    /* Remove o recuo padrão */
    text-align: left;
    /* Garante o alinhamento à esquerda */
}

.lista-sem-bolinhas ul {
    list-style-type: none;
    /* Remove as bolinhas das sublistas */
    padding-left: 0;
    /* Remove o recuo das sublistas */
}

.card-text.texto {
    margin-left: 10px;
    /* Garante o alinhamento sem recuos */
}