<%- include('partials/header', { tituloPagina: tituloPagina, menuUsuarios: menuUsuarios }) %>

    <h2>Bem-vindo!</h2>
    <p>Escolha um nome no menu acima ou navegue pelas páginas.</p>

    <%- include('partials/footer') %>