.card1 {
    background-color: #f5f5dc
}

a {
    color: #303f9f;
}

.texto-footer {
    color: #303f9f;
}

.menu {
    background-color: #f5f5dc
}

.text {
    color: #d32f2f
}

.footer {
    text-align: center;
    background-color: #f5f5dc
}